*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline-style: none;
}

html {
    font-size: 12px;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    /*
    --txtaccent: #fff;
    --txtaccent1: #9D9D9F;
    --textaccent2: #73757E;
    --textaccent3: #484848;
    --txtaccent4: #000;
    --txtaccent5: #E5E5E5;
    --haccent: #FFCB0F;
    --haccent_withOpacity: rgba(255, 203, 15,0.6);
    --haccent2: #C79E23;
    --bgaccent: #1A1C27;
    --bgaccent_withOpacity: rgba(26, 28, 39,0.96);
    */
   
    /*
    --txtaccent: #F0F8FF; 
    --txtaccent1: #A3C6FF; 
    --textaccent2: #729BCF; 
    --textaccent3: #4A6C99;
    --txtaccent4: #1E3553; 
    --txtaccent5: #E6F2FF; 
    --haccent: #0066FF; 
    --haccent_withOpacity: rgba(0, 102, 255, 0.6); 
    --haccent2: #003D99; 
    --bgaccent: #0A1929; 
    --bgaccent_withOpacity: rgba(10, 25, 41, 0.96); 
    */
    /*
    --txtaccent: #F0FAF9; 
--txtaccent1: #A7DADC; 
--textaccent2: #6DB8BF; 
--textaccent3: #3A919E;
--txtaccent4: #144E5A; 
--txtaccent5: #DFF5F3; 
--haccent: #00C2CB; 
--haccent_withOpacity: rgba(0, 194, 203, 0.6); 
--haccent2: #008B97; 
--bgaccent: #07292D;
--bgaccent_withOpacity: rgba(7, 41, 45, 0.96);  */
/*
--txtaccent: #F4FFF0; 
--txtaccent1: #B5E7B3; 
--textaccent2: #84D087; 
--textaccent3: #4DA561; 
--txtaccent4: #1E5C2A;
--txtaccent5: #E8FBE3; 
--haccent: #00C853; 
--haccent_withOpacity: rgba(0, 200, 83, 0.6); 
--haccent2: #008737; 
--bgaccent: #0F2E1E; 
--bgaccent_withOpacity: rgba(15, 46, 30, 0.96);  */

--white: #fff;
--txtaccent: #E7F1F6;
--txtaccent1: #B5D1D8;
--textaccent2: #88A9B5;
--textaccent3: #4E6D7A;
--txtaccent4: #223947;
--txtaccent5: #D2E3E9;
--haccent: #009688;
--haccent_withOpacity: rgba(0, 150, 136, 0.6);
--haccent2: #00796B;
--bgaccent: #1A2B34;
--bgaccent_withOpacity: rgba(26, 43, 52, 0.96);



}
.container{
    width: 95%;
    margin: 0px auto;
    padding: 0px;
}
/* SECTION ZERO = LANDING VIEW */
#sec-0{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../Images/banner.jpg) no-repeat top center/cover;
}
#sec-0 header.top {
    background-color: var(--haccent);
    font-size: 0.85rem;
    color: var(--txtaccent4);
    padding-top: 6px;
}
#sec-0 header.top .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#sec-0 header.top p {
    display: flex;
    width: 45%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0px;
    color: #fff;
}
#sec-0 header.top p:nth-of-type(2) {
    justify-content: flex-end;
}
#sec-0 .top p::before{
    font-family: fontAwesome;
    display: inline-flex;
    width: 2em;
    justify-content: center;
    font-size: 1.2em;
}
#sec-0 .top p:first-of-type::before{
    content: "\f3cd";
}
#sec-0 .top p:nth-of-type(2)::before{
    content: "\f0e0";
}
#sec-0 .top p:last-of-type::before{
    content: "\f017";
}
#sec-0 .top .social {
    display: flex;
    width: 45%;
    justify-content: flex-start;
    gap: 5px;
}
#sec-0 .top .social a{
    font-size: 1.2rem;
    display: inline-block;
    padding: 5px 0px 5px 5px;
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}
#sec-0 .top .social a:hover{
    transform: scale(1.5);
    color: #fff;
}
#sec-0 .top .social a img{
    height: 1.2em;
    margin-top: -5px;
}
#sec-0 header:last-of-type{
    background-color: var(--bgaccent);
    position: relative;
}
#sec-0 header:last-of-type .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.65rem 0px;
    position: relative;
}

#sec-0 header:last-of-type h1{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    color: var(--haccent);
    padding: 0px;
    margin: 0px;
}
#sec-0 header:last-of-type h1>span{
    color: var(--txtaccent);
}
#sec-0 header:last-of-type h1 p{
    font-size: 0.85rem;
    font-style: normal;
    color: var(--textaccent2);
    margin: 0px;
}
#sec-0 header label{
    color: var(--haccent);
    font-size: 2rem;
}



#sec-0 header nav a {
    display: block;
    text-decoration: none;
    color: var(--haccent);
    text-align: center;
    padding: 10px;
    transition: background-color 0.6s ease-in-out;
    border-bottom: solid 1px var(--txtaccent1);
}
#sec-0 header nav a:hover{
    border-radius: 20px;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    /*background-color: var(--haccent_withOpacity);*/
    color: var(--txtaccent);
    color: var(--white);
}
#sec-0 header nav i {
    display: flex;
    text-decoration: none;
    color: var(--haccent);
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 1.2em;
    transition: transform 0.3s ease-in-out;
    width: fit-content;
    margin: 0px auto;
}
#sec-0 header nav i:hover {
    transform: scale(1.3);
    cursor:pointer;
}

.show{
    display: flex;
}
.hide{
    display: none;
}

#sec-0 header input {
    display: none;
}
#sec-0 input + nav {
    display: none;
    width: 100%;
}
#sec-0 input:checked + nav {
    display: block;
}
#sec-0 article{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3rem 0px;
}
#sec-0 article h1{
    font-weight: normal;
    font-size: 1.25rem;
    color: var(--txtaccent);
    margin-bottom: 10px;
}
#sec-0 article h2{
    text-transform: uppercase;
    font-size: 1.85rem;
    color: var(--txtaccent);
    line-height: 1em;
    margin-bottom: 15px;
    font-weight: 700;
}
#sec-0 article h2 span{
    color: var(--haccent);
}
#sec-0 article p{
    color: var(--txtaccent);
    margin-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
#sec-0 article a{
    color: var(--haccent2);
    background-color: var(--txtaccent);
    display: inline-block;
    padding: 8px 15px;
    margin-left: 5px;
    border: solid 1px var(--txtaccent);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
#sec-0 article a:hover{
    background-color: var(--haccent2);
    color: var(--txtaccent);
}

@media (max-width: 768px) {

    #sec-0 .top {
  
      display: none;
  
    }
  
  } 
  





  
.project {
	background-color:var(--txtaccent);
    min-height: auto;
    padding: 5rem 5rem;
}


.project .project-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1rem;
}

.project-container .project-box {
    position: relative;
    display: flex;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.project-box img {
    width: 100%;
    transition: .5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--txtaccent));
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.project-box:hover .project-layer {
    opacity: 1;
}

.project-layer h4 {
    font-size: 2rem;
	color:black;
}

.project-layer p {
    font-size: 1rem;
    margin: .3rem 0 1rem;
	color: var(--haccent2);
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    background: var(--white);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 2rem;
    color: #333;
}


@media (max-width: 879px) {
    .project .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 780px) {
	#project_sec-1 .container{
	
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10px;
		
	
} 
  
	#project_sec-1 .container_b{
	
		text-align: center;
		max-width: 70%;
		margin-top: 40px;
}
	.project{
		 padding: 2.5rem 5rem;
	}
    .navbar a:nth-child(2) {
        color: var(--white-color);
    }
}


@media (max-width: 580px) {
    .project .project-container {
        grid-template-columns: 1fr;
    }
}


/* SECTION SIX */
#sec-6{
    background: linear-gradient(rgba(0, 0, 0,0.9),rgba(0, 0, 0,0.9)), url(../Images/rascacielos-nueva-york.jpg) no-repeat center center/cover;
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-size: 0.8rem;
}
#sec-6 .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 15px;
    color: var(--txtaccent5);
}
#sec-6 h1{
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1.1rem;
}
#sec-6 .about h2{
    font-size: 1.3rem;
    font-weight: 800;
    font-style: italic;
    color: var(--haccent);
    padding-bottom: 5px;
    margin-bottom: 1rem;
}
#sec-6 .about h2 p{
    color: var(--txtaccent1);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0px;
}
#sec-6 .about>p{
    margin-bottom: 1.5rem;
}
#sec-6 .about a{
    display: inline-flex;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: var(--haccent);
    font-size: 1.25rem;
    color: var(--bgaccent);
    justify-content: center;
    align-items: center;
    transition: background-color ease-in;
    margin-top: 5px;
    text-decoration: none;
}
#sec-6 .about i{
    vertical-align: baseline;
}
#sec-6 .about a:hover{
    color: var(--white);
}
#sec-6 .links a{
    color: inherit;
    text-decoration: none;
    display: block;
}
#sec-6 .links a{
    position: relative;
    padding: 0.2em;
    padding-left: 25px;
}
#sec-6 .links a::before{
    content: '';
    position: absolute;
    border: 0.35em solid transparent;
    border-left-color: var(--txtaccent5);
    left: 0px;
    top: 0.8em;
}
#sec-6 .links a:hover{
    text-decoration: underline;
}

#sec-6 .contact p{
    margin-bottom: 15px;
    display: flex;
    margin-left: -1em;
}
#sec-6 .contact p::before{
    font-family: fontAwesome;
    display: inline-flex;
    min-width: 2em;
    justify-content: center;
    font-size: 1.2em;
}
#sec-6 .contact p:first-of-type::before{
    content: "\f3c5";
}
#sec-6 .contact p:nth-of-type(2)::before{
    content: "\f0e0";
}
#sec-6 .contact p:last-of-type::before{
    content: "\f3cd";
}
/* SECTION SEVEN */
#sec-7 {
    background-color: var(--bgaccent);
    padding: 10px 0px;
    text-align: center;
    font-size: 0.8rem;
}
#sec-7 p{
    color: var(--white);
}
#sec-7 p span{
    color: var(--haccent);
}

/*MEDIA QUERRIES*/
/*Smart phones */
@media (min-width: 576px) {
    html{
        font-size: 13px;
    }
    .container {
        width: 520px;
    }
    #sec-0 header nav a {
        background-color: transparent;
    }
    #sec-0 input + nav {
        background-color: var(--bgaccent_withOpacity);
        position: absolute;
        top: 100%;
        right: 0%;
        width: 35%;
        border-bottom-left-radius: 10px;
    }
    #sec-0 #searchBox {
        transform: translateY(25px);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html{
        font-size: 14px;
    }
    .container {
        width: 720px;
    }
    #sec-0 header.top {
        padding-top: 0px;
    }
    #sec-0{
        background-position: center center;
    }
    #sec-0 header.top .container {
        justify-content: flex-start;
    }
    #sec-0 header.top p {
        width: fit-content;
        margin-right: 10px;
    }
    #sec-0 .top .social {
        width: fit-content;
        flex-grow: 1;
    }
    #sec-0 header label{
        display: none;
    }
    #sec-0 header nav a {
        border-style: none;
    }
    #sec-0 input + nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: fit-content;
        position: static;
        border-radius: none;
        font-size: 0.8rem;
    }
    #sec-0 input:checked + nav {
        display: flex;
    }
    #sec-0 article{
        padding: 5rem 0px;
    }
    #sec-0 article h1{
        font-size: 2rem;
    }
    #sec-0 article h2{
        font-size: 3.5rem;
    }
    #sec-0 #searchBox {
        min-width: 35%;
    }
    #sec-1 .container{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #sec-1 article{
        padding: 0px;
        text-align: left;
        width:51%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    #sec-1 article p{
        padding-right: 1rem;
    }
    #sec-1 aside {
        width: 48%;
        margin: 0px;
        text-align: right;
    }
    #sec-2{
        padding: 4rem 0px 2.5rem;
    }
    #sec-2 article{
        justify-content: space-between;
    }
    #sec-2 article figure{
        max-width: 40%;
    }
    #sec-2 article figure img{
        max-width: 55%;
    }
    #sec-3 {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    #sec-3 .cont{
        flex-direction: row;
    }
    #sec-3 .card{
        width: 48%;
    }
    #sec-3 .card:last-child{
        margin-left: auto;
        margin-right: auto;
    }
    #sec-4 .cont{
        width: 100%;
        margin: 0px;
    }
    #sec-4 aside img{
        margin-bottom: 15px;
        width: 48%;
    }
    #sec-5 h1+p{
        padding: 0px 6rem;
    }
    #sec-5 .cont{
        gap: 5vw;
    }
    #sec-5 article{
        width: 43%;
    }
    #sec-5 .contactUs form input+p{
        bottom: 4px;
    }
    #sec-6 .container{
        justify-content: space-between;
        row-gap: 25px;
    }
    #sec-6 .about{
        width: 65%;
    }
    #sec-6 .links{
        width: 20%;
    }
    #sec-6 .posts {
        width: 65%;
    }
    #sec-6 .contact {
        width: 20%;
    }
}
/* Standard PC screens */
@media (min-width: 1200px) {
    html{
        font-size: 15px;
    }
    .container {
        width: 1140px;
    }
    #sec-0 .top .social {
        gap: 10px ;
    }
    #sec-0 header:last-of-type .container{
        padding: 0.95rem 0px;
    }
    #sec-0 header nav a {
        margin-right: 10px;
        font-size: 0.92rem;
    }
    #sec-0 article p{
        padding-left: 14rem;
        padding-right: 14rem;
    }
    
    #sec-6 .container{
        justify-content: space-between;
        row-gap: 25px;
    }
    #sec-6 .about{
        width: 30%;
    }
    #sec-6 .links{
        width: 15%;
    }
    #sec-6 .posts {
        width: 20%;
    }
    #sec-6 .contact {
        width: 18%;
    }
}
@media (min-width: 1400px) {
    html{
        font-size: 17px;
    }
    .container {
        width: 1340px;
    }
}

/* END OF SHEET */